 *{
    margin: 0;
    padding: 0;
    }
    @keyframes move {
        100% {
            transform: translate3d(0, 0, 1px) rotate(360deg);
        }
    }

    .background {
        position: absolute;
        width: auto;
        height: 250vh;
        top: 0;
        left: 0;
        background: #050c3d;
        overflow: hidden;
        z-index: -1;
    }

    .background span {
        width: 9vmin;
        height: 9vmin;
        border-radius: 9vmin;
        backface-visibility: hidden;
        position: absolute;
        animation: move;
        animation-duration: 34;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        z-index: -1;
    }


    .background span:nth-child(0) {
        color: #4353df;
        top: 27%;
        left: 94%;
        animation-duration: 153s;
        animation-delay: -69s;
        transform-origin: -11vw 23vh;
        box-shadow: -18vmin 0 3.133827845415619vmin currentColor;
    }
    .background span:nth-child(1) {
        color: #fad7a1;
        top: 50%;
        left: 74%;
        animation-duration: 93s;
        animation-delay: -9s;
        transform-origin: 23vw 3vh;
        box-shadow: 18vmin 0 2.4861047590039647vmin currentColor;
    }
    .background span:nth-child(2) {
        color: #fad7a5;
        top: 39%;
        left: 76%;
        animation-duration: 103s;
        animation-delay: -17s;
        transform-origin: -19vw -8vh;
        box-shadow: 18vmin 0 3.004351325245892vmin currentColor;
    }
    .background span:nth-child(3) {
        color: #c09696;
        top: 48%;
        left: 19%;
        animation-duration: 144s;
        animation-delay: -154s;
        transform-origin: -19vw 25vh;
        box-shadow: 18vmin 0 3.084646487909272vmin currentColor;
    }
    .background span:nth-child(4) {
        color: #c09696;
        top: 100%;
        left: 97%;
        animation-duration: 34s;
        animation-delay: -24s;
        transform-origin: -8vw -15vh;
        box-shadow: 18vmin 0 2.535942577313907vmin currentColor;
    }
    .background span:nth-child(5) {
        color: #fad7a1;
        top: 14%;
        left: 62%;
        animation-duration: 138s;
        animation-delay: -129s;
        transform-origin: 4vw 5vh;
        box-shadow: -18vmin 0 2.7217525832626066vmin currentColor;
    }
    .background span:nth-child(6) {
        color: #4353df;
        top: 96%;
        left: 20%;
        animation-duration: 35s;
        animation-delay: -25s;
        transform-origin: 11vw -3vh;
        box-shadow: -18vmin 0 2.775668425904535vmin currentColor;
    }
    .background span:nth-child(7) {
        color: #4353df;
        top: 36%;
        left: 60%;
        animation-duration: 48s;
        animation-delay: -78s;
        transform-origin: -7vw 4vh;
        box-shadow: 18vmin 0 2.6767875737075406vmin currentColor;
    }
    .background span:nth-child(8) {
        color: #c09696;
        top: 97%;
        left: 92%;
        animation-duration: 77s;
        animation-delay: -119s;
        transform-origin: 0vw -4vh;
        box-shadow: 18vmin 0 2.68819491868558vmin currentColor;
    }
    .background span:nth-child(9) {
        color: #c09696;
        top: 8%;
        left: 6%;
        animation-duration: 142s;
        animation-delay: -35s;
        transform-origin: 3vw -16vh;
        box-shadow: -18vmin 0 2.549850812226185vmin currentColor;
    }
    .background span:nth-child(10) {
        color: #fad7a5;
        top: 9%;
        left: 29%;
        animation-duration: 117s;
        animation-delay: -119s;
        transform-origin: -4vw 14vh;
        box-shadow: -18vmin 0 2.439937783323943vmin currentColor;
    }
    .background span:nth-child(11) {
        color: #4353df;
        top: 69%;
        left: 82%;
        animation-duration: 37s;
        animation-delay: -46s;
        transform-origin: -22vw 1vh;
        box-shadow: -18vmin 0 3.1654156907632762vmin currentColor;
    }
    .background span:nth-child(12) {
        color: #4353df;
        top: 27%;
        left: 83%;
        animation-duration: 75s;
        animation-delay: -44s;
        transform-origin: -1vw 2vh;
        box-shadow: -18vmin 0 2.6420741806744346vmin currentColor;
    }
    .background span:nth-child(13) {
        color: #db5757;
        top: 58%;
        left: 35%;
        animation-duration: 128s;
        animation-delay: -101s;
        transform-origin: 16vw -2vh;
        box-shadow: 18vmin 0 2.985881938342187vmin currentColor;
    }
    .background span:nth-child(14) {
        color: #c09696;
        top: 39%;
        left: 51%;
        animation-duration: 137s;
        animation-delay: -122s;
        transform-origin: -14vw 20vh;
        box-shadow: 18vmin 0 2.4408174632606072vmin currentColor;
    }
    .background span:nth-child(15) {
        color: #db5757;
        top: 85%;
        left: 89%;
        animation-duration: 137s;
        animation-delay: -156s;
        transform-origin: 13vw -14vh;
        box-shadow: 18vmin 0 2.271279447296721vmin currentColor;
    }
    .background span:nth-child(16) {
        color: #c09696;
        top: 12%;
        left: 60%;
        animation-duration: 96s;
        animation-delay: -8s;
        transform-origin: 19vw 17vh;
        box-shadow: 18vmin 0 2.7598626061200253vmin currentColor;
    }
    .background span:nth-child(17) {
        color: #c09696;
        top: 7%;
        left: 67%;
        animation-duration: 29s;
        animation-delay: -22s;
        transform-origin: -13vw 18vh;
        box-shadow: 18vmin 0 2.4969671802350426vmin currentColor;
    }
    .background span:nth-child(18) {
        color: #fad7a1;
        top: 25%;
        left: 66%;
        animation-duration: 62s;
        animation-delay: -134s;
        transform-origin: -6vw -8vh;
        box-shadow: -18vmin 0 2.267200833779146vmin currentColor;
    }
    .background span:nth-child(19) {
        color: #fad7a5;
        top: 49%;
        left: 81%;
        animation-duration: 64s;
        animation-delay: -25s;
        transform-origin: 8vw 18vh;
        box-shadow: -18vmin 0 2.75028455249359vmin currentColor;
    }
    .background span:nth-child(20) {
        color: #fad7a5;
        top: 3%;
        left: 94%;
        animation-duration: 76s;
        animation-delay: -131s;
        transform-origin: -9vw 3vh;
        box-shadow: 18vmin 0 2.9561943356789957vmin currentColor;
    }
    .background span:nth-child(21) {
        color: #db5757;
        top: 61%;
        left: 39%;
        animation-duration: 109s;
        animation-delay: -116s;
        transform-origin: -5vw -1vh;
        box-shadow: 18vmin 0 3.0179790066679373vmin currentColor;
    }
    .background span:nth-child(22) {
        color: #fad7a1;
        top: 80%;
        left: 91%;
        animation-duration: 49s;
        animation-delay: -69s;
        transform-origin: -3vw -18vh;
        box-shadow: -18vmin 0 2.827238306297044vmin currentColor;
    }
    .background span:nth-child(23) {
        color: #c09696;
        top: 23%;
        left: 38%;
        animation-duration: 165s;
        animation-delay: -17s;
        transform-origin: -20vw -24vh;
        box-shadow: 18vmin 0 2.7946561068969853vmin currentColor;
    }
    .background span:nth-child(24) {
        color: #c09696;
        top: 53%;
        left: 98%;
        animation-duration: 44s;
        animation-delay: -66s;
        transform-origin: -23vw 5vh;
        box-shadow: 18vmin 0 3.0367174566933777vmin currentColor;
    }
    .background span:nth-child(25) {
        color: #db5757;
        top: 99%;
        left: 91%;
        animation-duration: 148s;
        animation-delay: -151s;
        transform-origin: 1vw 8vh;
        box-shadow: 18vmin 0 2.2578876194431743vmin currentColor;
    }
    .background span:nth-child(26) {
        color: #db5757;
        top: 61%;
        left: 9%;
        animation-duration: 146s;
        animation-delay: -3s;
        transform-origin: -2vw 11vh;
        box-shadow: -18vmin 0 2.397653447701628vmin currentColor;
    }
    .background span:nth-child(27) {
        color: #c09696;
        top: 70%;
        left: 90%;
        animation-duration: 12s;
        animation-delay: -14s;
        transform-origin: -21vw -14vh;
        box-shadow: 18vmin 0 2.9443867886267387vmin currentColor;
    }
    .background span:nth-child(28) {
        color: #4353df;
        top: 14%;
        left: 65%;
        animation-duration: 46s;
        animation-delay: -69s;
        transform-origin: -16vw 3vh;
        box-shadow: 18vmin 0 2.5313166269405274vmin currentColor;
    }
    .background span:nth-child(29) {
        color: #fad7a1;
        top: 42%;
        left: 86%;
        animation-duration: 140s;
        animation-delay: -34s;
        transform-origin: 3vw -11vh;
        box-shadow: -18vmin 0 2.999141746111511vmin currentColor;
    }
    .background span:nth-child(30) {
        color: #fad7a1;
        top: 50%;
        left: 50%;
        animation-duration: 80s;
        animation-delay: -74s;
        transform-origin: -18vw -21vh;
        box-shadow: 18vmin 0 2.374689348431555vmin currentColor;
    }
    .background span:nth-child(31) {
        color: #fad7a5;
        top: 6%;
        left: 44%;
        animation-duration: 98s;
        animation-delay: -100s;
        transform-origin: 22vw -13vh;
        box-shadow: -18vmin 0 2.6897587351206766vmin currentColor;
    }
    .background span:nth-child(32) {
        color: #c09696;
        top: 94%;
        left: 18%;
        animation-duration: 80s;
        animation-delay: -84s;
        transform-origin: 2vw 20vh;
        box-shadow: 18vmin 0 2.5283132952330583vmin currentColor;
    }
    .background span:nth-child(33) {
        color: #db5757;
        top: 8%;
        left: 74%;
        animation-duration: 155s;
        animation-delay: -7s;
        transform-origin: 22vw -9vh;
        box-shadow: -18vmin 0 2.584549780813416vmin currentColor;
    }
    .background span:nth-child(34) {
        color: #c09696;
        top: 16%;
        left: 7%;
        animation-duration: 159s;
        animation-delay: -108s;
        transform-origin: 10vw 0vh;
        box-shadow: 18vmin 0 2.8249121026364294vmin currentColor;
    }
    .background span:nth-child(35) {
        color: #4353df;
        top: 38%;
        left: 4%;
        animation-duration: 116s;
        animation-delay: -12s;
        transform-origin: -9vw -4vh;
        box-shadow: 18vmin 0 2.6593120454844206vmin currentColor;
    }

    /*Nav Bar*/
    nav {
    margin-top: 40px;
    margin-right: 30px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    }

    nav a {
        font-family:  'Vina Sans', sans-serif;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        color: #ffffff;
        display: block;
        text-align: center;
        padding: 14px 30px;
        text-decoration: none;
        transition: .5s ;
    }

    nav a::before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        background-color: white;
        bottom: 0;
        left: 0;
        transition: width 0.3s;
        z-index: -1;
    }

    nav a:hover::before {
        width: 100%;
    }

    nav a:hover {
        color: #fad7a1;
    }
    .logo{
        position: absolute;
        top: 1%;
        left: 5%;
        color: rgb(250, 215, 161);
        letter-spacing: 25px;
        font-family: 'Kanit', sans-serif;
        font-size: 20px;
    }
    .nav_bar .logo img{
        height: 120px;
        width: 120px;
    }

    /*sample-work*/
    .container {
        margin-left: 40px;
        max-width: 1400px; 
    }

    .container h1 {
        font-family: 'Kanit', sans-serif;
        font-size: 50px;
        margin-top: 100px;
        margin-left: 50px;
        color: #FAD7A1;
    }

    .container .underline {
        border-bottom: 5px solid #FAD7A1;
        width: 100%; 
        margin-left: 50px;
        margin-top: 20px;
    }

    .websites {
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;
        margin-left: 60px; 
    }

    .website {
        position: relative;
        overflow: hidden;
        flex: 0 0 calc(33.33% - 40px); /* 33.33% width for each website with margins */
        margin-left: 30px; /* Spacing between websites */
        margin-bottom: 30px; /* Spacing below each row of websites */
    }

    .image {
        height: 200px;
        width: 100%; /* Ensuring images take full width of their container */
        object-fit: cover;
        border-radius: 30px;
    }

    .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0px;
        width: 100%;
        border-radius: 30px;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: height 0.3s ease, opacity 0.3s ease;
    }

    .website:hover .overlay {
        opacity: 1;
        height: 200px;
        bottom: 4px;
    }

    .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 18px;
    }


    /*workshop*/
    .container-seminarWorkshop {
        margin-left: 40px;
    }
    .container-seminarWorkshop h1{
        font-family: 'Kanit', sans-serif;
        font-size: 50px;
        margin-top: 100px;
        margin-left: 50px;
        color: #FAD7A1;
    }
    .underline {
        border-bottom: 5px solid #FAD7A1;
        width: 1400px;
        margin-left: 50px;
        margin-top: 20px;
    }
    .picture {
        display: inline-block;
        width: calc(30% - 20px); /* 33.33% width per picture with 20px margin */
        margin-top: 50px; 
        margin-left: 60px;
        margin-bottom: 20px;
    }
    .picture img {
        width: 400px; 
        height: 300px; 
        display: block; 
        transition: transform 0.3s ease; 
        border-radius: 30px;
    }
    .picture:hover img {
        transform: scale(1.1); /* Scale image on hover */
    }  

    .spinner {
        position: fixed;
        height: 100vh;
        width: 100vw;
        display: flex;
        background-color: #212121;
        
        justify-content: center;
        align-items: center;
        transition: opacity .75s, visibility .75s;
    }
    
    .spinner--hidden{
        opacity: 0;
        visibility: hidden;
    }
    
    .spinner span {
        position: absolute;
        top: 50%;
        left: var(--left);
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 7px;
        margin-left: 45%;
        background: #ffff;
        animation: dominos 1s ease infinite;
        box-shadow: 2px 2px 3px 0px black;
    }
    
    .spinner span:nth-child(1) {
        --left: 80px;
        animation-delay: 0.125s;
    }
    
    .spinner span:nth-child(2) {
        --left: 70px;
        animation-delay: 0.3s;
    }
    
    .spinner span:nth-child(3) {
        left: 60px;
        animation-delay: 0.425s;
    }
    
    .spinner span:nth-child(4) {
        animation-delay: 0.54s;
        left: 50px;
    }
    
    .spinner span:nth-child(5) {
        animation-delay: 0.665s;
        left: 40px;
    }
    
    .spinner span:nth-child(6) {
        animation-delay: 0.79s;
        left: 30px;
    }
    
    .spinner span:nth-child(7) {
        animation-delay: 0.915s;
        left: 20px;
    }
    
    .spinner span:nth-child(8) {
        left: 10px;
    }
    
    @keyframes dominos {
    50% {
        opacity: 0.7;
    }
    
    75% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    
    80% {
        opacity: 1;
    }
    }